__pycache__/
*.py[cod]
*.egg-info/
*.whl
.pytest_cache/
.coverage
htmlcov/
.ruff_cache/
.mypy_cache/
.ipynb_checkpoints/
build/
dist/
.venv/
venv/
.idea/
.vscode/
.env
*.xlsx
results/
cache/
cfp_cache/
.DS_Store
